@tailwind base;

body {
	overflow: overlay;
}

:root {
	--primary: #04081a00;
	--secondary: #2e3c6e;
}
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	display: block;
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply min-h-screen bg-gradient-to-bl from-blue-950 via-slate-900 to-slate-950 text-slate-50;
	}
}

/* @layer components {
	.Custom-class {
		@apply ;
	}
} */